<div class="main-wrapper">
  <div class="row">
    <div class="user-content-wrap col-12 col-sm-12 col-md-6 col-lg-6">
      <div class="user-content-inner-wrap">
        <img src="./../../../assets/images/todoapplogo.png" alt="TodoApp Logo" />
        <p>
          lorem ispsm lorem ispsm lorem ispsm lorem
          ispsm lorem ispsm lorem ispsmlorem ispsmlorem ispsm
          lorem ispsm lorem ispsm lorem ispsm lorem ispsm lorem ispsm
          lorem ispsmlorem ispsmlorem ispsm

        </p>
        <ul>
          <li>lorem ispsm lorem ispsm</li>
          <li>lorem ispsm lorem ispsm</li>
          <li>lorem ispsm lorem ispsm</li>
          <li>lorem ispsm lorem ispsm</li>
          <li>lorem ispsm lorem ispsm</li>
          <li>lorem ispsm lorem ispsm</li>
          <li>lorem ispsm lorem ispsm</li>
          <li>lorem ispsm lorem ispsm</li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 user-board-wrap">
      <div class="card border-success cardBorder">

        <div class="card-body text-center">
          <div class="text-center">
            <h2>Reset Password!</h2>
          </div>

          <form class="form-horizontal" role="form">
            <div class="input-group mb-3 form-field-container">

              <mat-form-field appearance="standard">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Enter your Password" minlength="8" #pwd="ngModel"
                  [(ngModel)]="password" name="password" required>
                <mat-hint>* Min 8 Characters</mat-hint>

                <mat-error *ngIf="pwd.errors?.required">You must enter a value</mat-error>
                <mat-error *ngIf="pwd.errors?.minlength">You must enter atleast 8 Chars</mat-error>

              </mat-form-field>

            </div>
            <br>
            <div class="input-group mb-3 form-field-container">

              <mat-form-field appearance="standard">
                <mat-label>Re-enter Password</mat-label>
                <input matInput type="password" placeholder="Re-enter your Password" minlength="8" #conpwd="ngModel"
                  [(ngModel)]="confirmPassword" name="confirmPassword" required>
                <mat-hint>* Min 8 Characters</mat-hint>

                <mat-error *ngIf="conpwd.errors?.required">You must enter a value</mat-error>
                <mat-error *ngIf="conpwd.errors?.minlength">You must enter atleast 8 Chars</mat-error>

              </mat-form-field>

            </div>
            <div style="margin-top:10px" class="form-group">
              <!-- Button -->

              <div class="col-sm-12 controls">
                <button id="btn-save" type="button" class="btn btn-primary" (click)="updatePasswordFunction()">
                  <i class="icon-hand-right"></i> Save</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>