<div class="main-wrapper">
    <div class="row">
        <div class="user-content-wrap col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="user-content-inner-wrap">
                <img src="./../../../assets/images/todoapplogo.png" alt="TodoApp Logo" />
                <p>
                        ToDo App is an intuitive and easy to use online Todo list.
                        It helps you to get organized,  
                        simplify your life,
                        and to get things done. Create todo lists,
                        and manage them online from anywhere.
    
                    </p>  
                    <h5>Recover your password  for ToDO List management system</h5>
                    <ul>
                        <li><span class="fa fa-check-circle"></span>Create a ToDo List</li>
                        <li><span class="fa fa-check-circle"></span>Add, delete and edit items</li>
                        <li><span class="fa fa-check-circle"></span>Add sub-todo-items</li>
                        <li><span class="fa fa-check-circle"></span>Add Friends</li>
                        <li><span class="fa fa-check-circle"></span>Save & Share Todo List</li>
                        <li><span class="fa fa-check-circle"></span>Notifications</li>
                    </ul>  
    
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 user-board-wrap">
            <div class="card border-success cardBorder">

                <div class="card-body text-center">
                    <div class="text-center">
                        <h2>Forgot Password!</h2>
                    </div>

                    <form class="form-horizontal" role="form" #forgotForm="ngForm">

                        <div class="input-group form-field-container">

                            <mat-form-field appearance="standard">
                                <input matInput placeholder="Enter your email" [formControl]="email" required>
                                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-12 controls">
                            <button id="btn-send" type="button" class="button btn btn-primary"
                                (click)="forgotPasswordFunction()" [disabled]="!forgotForm.valid">
                                <span>Send</span>
                            </button>
                        </div>   
                        <div class="links-wrap">
                            <a mat-raised-link [routerLink]="['/user/login']">Have account? Sign
                                In</a>
                        </div>

                    </form>
                </div>

            </div>
        </div>

    </div>
</div>