<div class="main-wrapper">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 user-board-wrap">
      <div class="d-flex align-items-center">
        <div class="error-text">
          <h1>>Error <span class="errorcode">500</span></h1>
          <p class="output">
            > Something went wrong!!</p>
          <p class="output">
            > Please try to <a href="#1">[go back]</a> or <a href="#2">[return to the homepage]</a>.
          </p>  
        </div>
      </div>
    </div>
  
  </div>